body {
	background: var(--color-body);
	min-height: 100%;
	&.single-career {
		background: var(--color-primary);
	} // Fallback for when there is no custom background color defined.
}
html{
	height: 100%;
}
/* Typography
--------------------------------------------- */
@import "resets";
@import "typography";
@import "elements/buttons";
@import "themes";
@import "bulma-fixes";

/* Elements
--------------------------------------------- 
@import "elements/body";
@import "elements/hr";
@import "elements/lists";
@import "elements/media";
@import "elements/tables";

/* Links
--------------------------------------------- 
@import "elements/links";

/* Forms
--------------------------------------------- 
@import "elements/buttons";
@import "elements/fields";*/

/*
Body
*/
main#primary {
	//overflow: hidden;
}
