table.shop_table.shop_table_responsive {
	tr > td {
		padding-top: 0.5rem;
	}
	tr.order-discounts {
		td {
			padding-bottom: 1rem;
		}
		border-bottom: 1px solid $grey-lighter;
	}
	tr.order-total {
		td {
			padding-top: 1rem;
		}
	}
}
.arkde-cart {
	ul {
		list-style: none;
		margin: 0;

		ul {
			padding: 0 2em;
			padding-top: 1.5em;
			padding-left: 2.8em;

			li.cart-item:last-of-type {
				padding-bottom: 1.5em
			}

			li.cart-item {
				border: none !important;
				padding: 0.6em 0;
			}

			li {
				&:before {
					content: "";
					position: absolute;
					left: -2.8em;
					width: 45px;
					background: $grey-lighter;
					height: 2px;
					z-index: -1;
				}

				&:after {
					content: "";
					position: absolute;
					left: -2.8em;
					width: 2px;
					background: $grey-lighter;
					height: calc(45px + 3em);
				}

				&:last-of-type {
					&:after {
						top: 0;
						height: 33px;
					}
				}
			}

		}

	}

	li.cart-item {
		position: relative;
		.media {

			img {
				width: 60px;
				height: 60px;
				border-radius: var(--card-radius-small);
			}
			min-width: 60px;
			min-height: 60px;
		}

		@include desktop {
			padding-right: 1rem;
		}


		> div:nth-child(2)
		{
			@include desktop {
				max-width: 60%;
			}
		}
		.product-remove {
			a.remove {
				color: $grey;
				opacity: 0.6;
				&:hover, &:focus {
					color: $danger;
				}
			}
		}

		.price,
		.price p {
			font-weight: 400;
			font-size: 16px;
			margin: 0;
			line-height: 1;
			color: $title-color;

			small {
				font-size: 80%;
			}

			.before {
				color: $danger;
				opacity: 0.7;
				font-size: 13px;
			}
		}

		>.price {
			margin-left: auto;
			padding: 0;

			@include mobile {
				display: none;
			}

		}

		&.premium {

			.content {
				max-width: none;

				p {
					&.title {
						font-weight: 900;
						font-family: "Harmonia Sans";
						max-width: none;
						color: $title-color;
					}
				}

			}

		}

		&:not(:first-of-type) {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}

		&:first-of-type {
			padding-top: 0;
		}

		&:last-of-type,
		&.career {
			padding-bottom: 0;
		}

		&.small {
			z-index: 2;

			img {
				max-width: 45px;
				max-height: 45px;
			}

			p {
				font-size: 14px;
				color: $title-color;
			}

			.content {
				max-width: 70%;
			}

			.media {
				min-width: 45px !important;
				min-height: 45px !important;
			}
		}
	}
}

//messages notifiers
.woocommerce-notices-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	.woocommerce-message {
		overflow: hidden;
		position: relative;
		border: 1px solid $grey-lighter;
		background: $white-ter;
		padding: 1rem 1.25rem;
		border-radius: var(--card-radius-small);

		a.button.wc-forward {
			display: none;

		}

	}
}