/*
Here we have all css that help spacing between css grids and flexbox items
*/

.has-gap-5 {
	gap: 2.5px;
}
.has-gap-6 {
	gap: 3px;
}
.has-gap-16 {
	gap: 1rem;
}
.has-gap-32 {
	gap: 2rem;
}
.has-gap-10 {
	gap: 5px;
}
.has-gap-20 {
	gap: 20px;
}
.has-gap-4{
	gap:2px;
}

.has-lh-one {
	line-height: 1;
}
.has-lh-1-2 {
	line-height: 1.2;
}