/*
Elements used on course page and course items (cards etc)
*/

.course-average-rating {
	> span[class^="fa"] {
		&::before {
			content: "\f005";
		}
	}
	> * {
		color: var(--color-gold);
	}
	&.rating-1,
	&.rating-2,
	&.rating-3,
	&.rating-4,
	&.rating-5 {
		span:first-child {
			font-weight: 900;
		}
		
	}

	&.rating-2,
	&.rating-3,
	&.rating-4,
	&.rating-5 {
		span:nth-child(2) {
			font-weight: 900;
		}

	}
	&.rating-3,
	&.rating-4,
	&.rating-5 {
		span:nth-child(3) {
			font-weight: 900;
		}
	}
	&.rating-4,
	&.rating-5 {
		span:nth-child(4) {
			font-weight: 900;

			

		}
	}
	&.rating-5 {
		span:nth-child(5) {
			font-weight: 900;
		}
	}

	&.rating-1.rating-half {
		span:nth-child(2) {
			font-weight: 900;
			&::before {
				content:"\f5c0";
			}
		}
	}
	&.rating-2.rating-half {
		span:nth-child(3) {
			font-weight: 900;
			&::before {
				content:"\f5c0";
			}
		}
	}
	&.rating-3.rating-half {
		span:nth-child(4) {
			font-weight: 900;
			&::before {
				content:"\f5c0";
			}
		}
	}
	&.rating-4.rating-half {
		span:nth-child(5) {
			font-weight: 900;
			&::before {
				content:"\f5c0";
			}
		}
	}
	
}

//Bulma bug that flex items are always with flex 1
.level-unset-flex-items {
	> .level-item {
		flex: initial;
	}
}