
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

/* Top navbar navigation */
header#masthead {
	background-color: var(--color-navbar-bg);
	position: relative;
	z-index: 3;

	nav.navbar {
		background: transparent;
		max-width: $widescreen;

		margin: 0 auto;
		padding: 0 1rem;
		gap: 16px;

		
		
		@include touch {
			.navbar-menu {
				//changing bulma open transition from Display to height
				display: block; 
				max-height: 0;
				transition: max-height 0.55s ease-out, padding 0s ease-out 0.5s;
				box-sizing: border-box;
				overflow: hidden;
				&.is-active {
					max-height: 100vh;
					transition: max-height 0.65s ease-in;
				}
				&:not(.is-active) {
					padding: 0;
				}
			}
		}
		.navbar-item {
			background: transparent !important;
			color: white;
			.navbar-link:not(.is-arrowless)::after {
				border-color: white;
			}
			img {
				max-height: 36px;
			}
			&.has-dropdown
			{
				.navbar-link {
					background: transparent;
					border: none;
					color: white;
				}
				a.navbar-item {
					color: $text;
				}

			}

			.header-cart-link {
				position: relate;
				span.count {
					position: absolute;
					background: $turquoise;
					color: white;
					text-align: center;
					border-radius: 100%;
					font-size: 12px;
					padding: 1px 5px;
					line-height: 1.2;
					font-weight: bold;
				}
			}
			
		}
		@include touch {
			.navbar-menu {
				background-color: inherit;
			}
			.navbar-item, .navbar-link {
				color: inherit;
				&:not(.is-arrowless)::after {
					border-color: inherit;
				}
			}
		}
		
		.custom-logo-link {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.custom-logo {
					max-width: 90px;
				}
		}
		.navbar-dropdown {
			border-top: none;
			border-radius: $navbar-dropdown-radius;
		}
		@include desktop {
			.navbar-item.navbar-item {
				.navbar-dropdown {
					top: 80%;
					
				}
			}

		}

	&.is-full {
		max-width: $fullhd;
	}
		
	}

	//Navbar always inside section 
	//Should be transparent and add a padding to next sibling
	&.is-transparent {
		position: absolute;
		width: 100%;
		top: 0;
		background: transparent;
		&:not(.is-colored) {
			+ main > section:first-of-type, + main > .learndash_post_sfwd-courses > section:first-of-type, + main > .woocommerce, + main > .container  {
				padding-top: $navbar-height;
			} 
			+.bs-bp-container {
				padding-top: $navbar-height;
			}
		}
		+ main > .woocommerce {
			max-width: $widescreen;
			.bsMyAccount {
				@extend .pt-4, .pb-4;
			}
		}
		+ .bs-bp-container {
			max-width: $widescreen;
			margin: 0 auto;
			@extend .mt-4;
		}
	}
}



/* Footer navigation */
footer.footer {
	background: var(--color-footer-bg);
	a {
		color: var(--color-footer-link);
		&:hover,&:active,&:focus {
			color: var(--color-footer-link_hover);
		}
	}
	h1,h2,h3,h4,h5,p{
		color: var(--color-footer-text);
	}
	img {
		max-width: 125px;
	}
	
}
