.button, button {
	border-radius: var(--card-radius-medium);
	&.is-small {
		//to override bulma preset
		border-radius: var(--card-radius-small) !important;
	}
	&.is-large {
		border-radius: var(--card-radius-large);
	}
	border: 0px;
	font-weight: 600;
	background: none;
	overflow: hidden;
	transition: all 0.2s ease-out;
	&.is-outlined {
		border: 1px solid;
	}
	&.is-purple {
		background: var(--button-blue-gradient);
		box-shadow: var(--button-clay-blue);
		color: var(--color-text-white);
		&:active, &:hover, &:focus {
			background: var(--button-blue-gradient_hover);
			color: var(--color-text-white);
		}
	}
	&.is-primary {
		background: var(--button-green-gradient);
		box-shadow: var(--button-clay-green);
		overflow: hidden;
		transition: all 0.2s ease-out;
		color: var(--color-text-white);
	
		&:active,
		&:hover,
		&:focus {
			background: var(--button-green-gradient_hover);
		}
	}

	&.is-gold {
		background: var(--button-gold-gradient);
		box-shadow: var(--button-shadow-gold);
		overflow: hidden;
		transition: all 0.2s ease-out;
		color: var(--color-text-white);
	
		&:active,
		&:hover,
		&:focus {
			background: var(--button-gold-gradient_hover);
			color: var(--color-text-white);
		}
	}
}
